<nav class="fixed-navbar">
  <div class="nav-wrapper container">
    <a href="<%= root_path %>" class="brand-logo"><%= image_tag('logo-h.png') %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#login" class="modal-trigger">登入/註冊</a></li>
      <li><a href="<%= new_path %>">立即刊登</a></li>
      <li><a href="<%= user_path %>"><span class="nav-avatar"><%= image_tag('avatar.jpg') %>劉政軒</span></a></li>
      <li><a href="#">English</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
<div id="login" class="modal login-popup">
  <div class="modal-content">
    <div class="top-bar">
      <a id="close-login-popup">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="row">
      <div class="col s12" style="padding: 0;">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#tab-login">登入</a></li>
          <li class="tab col s6"><a href="#tab-register">註冊</a></li>
        </ul>
      </div>
      <div id="tab-login" class="col s12 tab-content">
        <a class="fb-login-btn">Facebook 登入</a>
        <div class="divider-text">
          <hr class="divider-text-left"/>OR<hr class="divider-text-right" />
        </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <p for="account">帳號</p>
              <input id="account" type="text">
            </div>
            <div class="input-field col s12">
              <p for="password">密碼</p>
              <input id="password" type="password">
            </div>
          </div>
          <div class="row">
            <p>
              <a href="#">忘記密碼</a>
            </p>
            <btn type="submit" class="btn">登入</btn>
            <p>
              還沒有帳號？
              <a href="#tab-go-register">註冊</a>
            </p>
          </div>
        </form>
      </div>
      <div id="tab-register" class="col s12 tab-content">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <p for="last_name">姓氏</p>
              <input id="last_name" type="text">
            </div>
            <div class="input-field col s6">
              <p for="first_name">名字</p>
              <input id="first_name" type="text">
            </div>
            <div class="input-field col s6">
              <p for="phone">手機</p>
              <input id="phone" type="text">
            </div>
            <div class="input-field col s6">
              <p for="email">email</p>
              <input id="email" type="email">
            </div>
            <div class="input-field col s6">
              <p for="password">密碼</p>
              <input id="password" type="password">
            </div>
            <div class="input-field col s6">
              <p for="password_confirm">確認密碼</p>
              <input id="password_confirm" type="password">
            </div>
          </div>
          <div class="row">
            <btn type="submit" class="btn">註冊</btn>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();

    $('a[href="#login"]').click(function(){
      $('ul.tabs').tabs('select_tab', 'tab-login');
    });

    $('a[href="#tab-go-register"]').click(function(){
      $('ul.tabs').tabs('select_tab', 'tab-register');
    });

    $('#close-login-popup').click(function(){
      $('#login').closeModal();
    });
  });
</script>
