<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	var myCenter=new google.maps.LatLng(51.508742,-0.120850);

	function initialize()
	{
	var mapProp = {
	  center:myCenter,
	  zoom:5,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };

	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	var marker=new google.maps.Marker({
	  position:myCenter,
	  });

	marker.setMap(map);

	var infowindow = new google.maps.InfoWindow({
	  content:"Hello World!"
	  });

	infowindow.open(map,marker);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="container-fluid">
	<div class="row margin-bottom-none">
		<div class="deg360">
			<%= image_tag('360deg.png') %>
		</div>
		<div class="header-bar">
			<div class="container">
				<div class="row">
					<div class="col m2 s12">
						<div class="header-bar-avatar">
							<%= image_tag('avatar.jpg') %>
							<p class="header-bar-avatar-name">劉政軒</p>
						</div>
					</div>
					<div class="col m6 s12">
						<h5>F膠囊艙床位Mixed Capsule No TV</h5>
						<p>台北市 文山區 木柵路二段23號3樓</p>
						<div class="tags-container">
							<span class="image-icon small">
								<%= image_tag('icons/bed.png') %>
							</span>
							<div class="chip secondary-chip">
						    分租套雅房
						  </div>
						</div>
						<div class="tags-container">
							<span class="image-icon small house">
								<%= image_tag('icons/house.png') %>
							</span>
							<div class="chip secondary-chip">
						    坪數：7.0坪
						  </div>
							<div class="chip secondary-chip">
						    樓層：3/5 F
						  </div>
							<div class="chip secondary-chip">
						    男女皆可
						  </div>
						</div>
						<div class="tags-container">
							<span class="image-icon small">
								<%= image_tag('icons/school.png') %>
							</span>
							<div class="chip secondary-chip">
						    世新大學
						  </div>
							<div class="chip secondary-chip">
						    政治大學
						  </div>
						</div>
					</div>
					<div class="col m4 s12">
						<div class="price-info">
							NT$ 9,800 - NT$ 9,800 / 月
						</div>
						<div class="contact-info">
							<p>
								聯絡方式<br>
								<i class="material-icons text-icon">phone</i>0930952077<br>
								<i class="material-icons text-icon">email</i>chenghsuango@gmail.com<br>
								<span class="list-icon-24 text-icon"><%= image_tag('icons/line.png') %></span>0930952077<br>
								<span class="list-icon-24 text-icon"><%= image_tag('icons/whatsapp.png') %></span>0930952077<br>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row margin-bottom-none">
		<div class="col m6 s12">
			<div class="house-info-container--left">
				<div class="row">
					<div class="col m4 s12">
						<span class="house-info-title">
						基礎資訊
						</span>
					</div>
					<div class="col m8 s12">
						<ul class="house-info-content">
							<li>歡迎外國租客 (房東可用英語溝通)</li>
						</ul>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						空間
						</span>
					</div>
					<div class="col m8 s12">
						<ul class="house-info-content">
							<li>0 客廳 0 衛浴 1 陽台</li>
							<li>個人停車位： 無</li>
						</ul>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						基本費用
						</span>
					</div>
					<div class="col m8 s12">
						<ul class="house-info-content">
							<li>押金： 2個月</li>
							<li>管理費: 無</li>
						</ul>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						額外費用
						</span>
					</div>
					<div class="col m8 s12">
						<ul class="house-info-content">
							<li>電費</li>
						</ul>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						設施
						</span>
					</div>
					<div class="col m8 s12">
						<div class="house-info-content house-show-page">
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/laundry.png') %></span>洗衣機</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/refrigerator.png') %></span>冰箱</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/tv.png') %></span>電視</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/air-conditioner.png') %></span>冷氣</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/water-heater.png') %></span>熱水器</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/internet.png') %></span>有線網路</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/wifi.png') %></span>無線網路</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/gas.png') %></span>天然瓦斯</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/gas-barrel.png') %></span>桶裝瓦斯</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/water-machine.png') %></span>飲水機</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/dryer.png') %></span>除濕機</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/vacuum.png') %></span>吸塵器</p>
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						家具
						</span>
					</div>
					<div class="col m8 s12">
						<div class="house-info-content house-show-page">
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/bed.png') %></span>床</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/closet.png') %></span>衣櫃</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/sofa.png') %></span>沙發</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/table.png') %></span>桌子</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/chair.png') %></span>椅子</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/kitchen.png') %></span>廚具</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/pillow.png') %></span>寢具</p>
							</div>
							<div class="col m6 s6">
								<p><span class="house-equipment-icon"><%= image_tag('icons/cabinet.png') %></span>床頭櫃</p>
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						安全設施
						</span>
					</div>
					<div class="col m8 s12">
						<ul class="house-info-content">
							<li>滅火器</li>
						</ul>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						關於房屋
						</span>
					</div>
					<div class="col m8 s12">
						<p class="house-info-content">
						旁邊有早餐店，下樓就有公車站帶你到公館 !<br>
						房間小巧舒適，還有陽台可以曬衣<br>
						這麼好的地方哪裡找呢 !!
						</p>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						周邊環境空間
						</span>
					</div>
					<div class="col m8 s12">
						<p class="house-info-content">
							樓下有公車站， 旁邊就是早餐店，3分鐘路程內還有便利商店 !!
						</p>
					</div>

					<div class="col s12">
						<div class="hr"></div>
					</div>

					<div class="col m4 s12">
						<span class="house-info-title">
						住客規定
						</span>
					</div>
					<div class="col m8 s12">
						<p class="house-info-content">
							無
						</p>
					</div>

				</div>
			</div>


		</div>
		<div class="col m6 s12">
			<div class="house-info-container--right">
				<div class="comments-box">
					<div class="btn-bar right">
						<a href="#" class="btn-outline"><i class="material-icons text-icon" style="margin-top: -1px;">add</i>評論</a>
					</div>
					<h5>3 條評論</h5>
					<div class="comment">
						<div class="comment-avatar">
							<%= image_tag('avatar.jpg') %>
							<span class="comment-avatar-name">劉政軒</span>
							<small>@2015/10/8</small>
						</div>
						<div class="comment-body">
							<p>Sleepbox is okay no more no less. Just be aware that the directions don't match the location it's close but unless they have updated the map then I'd call ahead and get the exact address. The Wifi is also a bit slow! But it's clean and kinda fun sleeping in a box.</p>
						</div>
					</div>
					<div class="comment">
						<div class="comment-avatar">
							<%= image_tag('avatar.jpg') %>
							<span class="comment-avatar-name">劉政軒</span>
							<small>@2015/10/8</small>
						</div>
						<div class="comment-body">
							<p>Sleepbox is okay no more no less. Just be aware that the directions don't match the location it's close but unless they have updated the map then I'd call ahead and get the exact address. The Wifi is also a bit slow! But it's clean and kinda fun sleeping in a box.</p>
						</div>
					</div>
					<div class="comment">
						<div class="comment-avatar">
							<%= image_tag('avatar.jpg') %>
							<span class="comment-avatar-name">劉政軒</span>
							<small>@2015/10/8</small>
						</div>
						<div class="comment-body">
							<p>Sleepbox is okay no more no less. Just be aware that the directions don't match the location it's close but unless they have updated the map then I'd call ahead and get the exact address. The Wifi is also a bit slow! But it's clean and kinda fun sleeping in a box.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col m12 s12">
			<h4>出租狀況</h4>
			<div class="house-info-table">
				<table class="striped centered">
	        <thead>
	          <tr>
	              <th>房名</th>
	              <th>房間類型</th>
	              <th>月租(新台幣)</th>
	              <th>坪數</th>
	              <th>寢具類型</th>
	              <th>出租狀態</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr>
	            <td>3樓</td>
	            <td>套房</td>
	            <td>9800</td>
	            <td>7.0 坪</td>
	            <td>9800</td>
	            <td>可入住</td>
	          </tr>
	        </tbody>
	      </table>
			</div>


			<div class="map-field" style="margin-bottom: 48px;">
				<div id="googleMap" style="width:100%;height: 300px;"></div>
			</div>
		</div>
	</div>
</div>
