<%= stylesheet_link_tag 'landing_page' %>
<div class="scroll-spy-dots">
  <div class="dot active" page-order="1">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="2">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="3">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="4">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="5">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="6">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="7">
    <div class="dot-inner"></div>
  </div>
</div>

<div class="back-to-top-btn" id="back-to-top-btn">
  <i class="material-icons">arrow_upward</i>
</div>

<div class="controll-btns">
  <a class="controll-btn up"><i class="material-icons">keyboard_arrow_up</i></a>
  <a class="controll-btn down"><i class="material-icons">keyboard_arrow_down</i></a>
</div>

<div class="scroll-page-container">
<div class="scroll-page-container-inner">
<header class="scroll-page order-1" page-order="1">
  <div class="header-mask"></div>
  <div class="intro-1-image hide">
    <%= image_tag('intro-1a.svg') %>
  </div>
  <div class="header-info">
    <div class="header-slogan">
      <h2>學生租屋,就上租客</h2>
      <p>立即預約免費刊登服務,享受完整功能</p>
    </div>
    <div class="search-bar index">
      <div class="row">
        <div class="col m12 s12">
          <div class="action">
            <input class="" type="text" placeholder="搜尋學校..">
          </div>
          <div class="action">
            <select class="browser-default">
              <option value="1">不限房屋類型</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="action">
            <select class="browser-default">
              <option value="1">不限期限</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="submit-btn">
            <a href="/search" class="btn">搜尋</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-call-to-action hide" style="margin-top: 16px;">
        <%= link_to "前往看房", '#', :class=>'btn btn--large' %>
        <%= link_to "預約刊登", '#', :class=>'btn btn--large' %>
        <!--<p><div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"></div></p>-->
    </div>
    <div class="arrow-down hide" style="margin-top: 48px;">
      <i class="material-icons">keyboard_arrow_down</i></br>
      <i class="material-icons" style="margin-top: -20px;">keyboard_arrow_down</i>
    </div>
  </div>
</header>


<section id="intro-1-section" class="intro-1-section service-intro-box table intro-1 scroll-page order-2" page-order="2">
  <blockquote data-width="500" data-height="375" class="ricoh-theta-spherical-image" >Post from RICOH THETA. - <a href="https://theta360.com/s/rYjkWexHYyDP4QvzW6HMzdZq8" target="_blank">Spherical Image - RICOH THETA</a></blockquote>
  <script async src="https://theta360.com/widgets.js" charset="utf-8"></script>
  <div class="container">
    <div class="row">
      <div class="col s12">
      </div>
      <div class="col m6 s12">
        <div class="info intro-1" id="intro-1-anchor">
          <div class="title intro-1">
            <h3>全景零死角</h3>
          </div>
          <p class="description"></p>
          <p>
            <span class="sub-title">不會再被照騙</span>
            完美呈現每個角落，猶如親臨現場</br></br>
            <span class="sub-title">免費拍攝服務</span>
            不需自己動手，Zuker 提供預約攝影服務</br></br>
          </p>
          <div class="call-to-action hide">
            <%= link_to "立即體驗", '#', :class=>'btn' %>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="box-image intro-1 hide">

        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro-2-section" class="intro-2-section service-intro-box tasks intro-2 scroll-page order-3" page-order="3">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info intro-2" id="intro-2-anchor">
					<div class="title intro-2">
						<h3>預約下個好房子</h3>
					</div>
					<p class="description"></p>
					<p>
						<span class="sub-title">好的房子,就該提早出租</span>
						降低您的空屋率，讓好房子可以無縫接軌。</br></br>
						<span class="sub-title">假期不該浪費在找房上</span>
						提前找房，不再急急忙忙，讓每個寒暑假都是滿滿的回憶</br></br>
					</p>
					<div class="call-to-action">
						<!--<a target="_parent" href="https://colorgy.io/login" class="btn">立即註冊</a>-->
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image intro-2">

				</div>
			</div>
		</div>
	</div>
</section>


<section id="intro-3-section" class="intro-3-section service-intro-box books intro-3 scroll-page order-4" page-order="4">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info intro-3" id="intro-3-anchor">
					<div class="title intro-3">
						<h3>房客自由刊登</h3>
					</div>
					<p class="description"></p>
					<p>
						<span class="sub-title">找不到室友？</span>
						在家靠父母，出外靠室友，來 Zuker 徵室友吧 Q__Q</br></br>
						<span class="sub-title">需要找頂讓？</span>
						不需解約損失押金，找人接替輕鬆自在。</br></br>
						<span class="sub-title">推薦好房子</span>
						讓你住的好房子登上 Zuker，讓 Zuker 幫你付租金。</br></br>
					</p>
					<div class="call-to-action">
						<a class="btn" href="#" target="_blank">瞭解詳情</a>
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image intro-3">

				</div>
			</div>
		</div>
	</div>
</section>

<section id="intro-4-section" class="intro-4-section service-intro-box tasks intro-4 scroll-page order-5" page-order="5">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<div class="info intro-4" id="intro-4-anchor">
					<div class="title intro-4">
						<h3>雙語跨國界</h3>
					</div>
					<p class="description"></p>
					<p>
						<span class="sub-title">外國朋友想找房</span>
						不必再自行翻譯，Zuker 提供完整英文介面。</br></br>
						<span class="sub-title">國外找房 so easy</span>
						全景攝影完整呈現房屋內部，不論身在何處，皆可立即預約。</br></br>
            <span class="sub-title">翻譯服務幫助你</span>
            Zuker 提供免費翻譯諮詢，以及收費口譯服務，溝通不再卡卡。</br></br>
					</p>
					<div class="call-to-action">
					</div>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="box-image intro-4">

				</div>
			</div>
		</div>
	</div>
</section>


<section id="intro-5-section" class="intro-5-section service-intro-box table intro-5 scroll-page order-6" page-order="6">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <div class="info intro-5" id="intro-5-anchor">
          <div class="title intro-5">
            <h3>好房大聲說</h3>
          </div>
          <p class="description"></p>
          <p>
            <span class="sub-title">透明評論不被雷</span>
            前房客怎麼說，上 Zuker 就知道。</br></br>
            <span class="sub-title">遠離壞房客</span>
            上 Zuker 就知道，前房東怎麼說。</br></br>
          </p>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="box-image intro-5">

        </div>
      </div>
    </div>
  </div>
</section>


<section id="sign-up-section" class="sign-up-section scroll-page order-7" page-order="7">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>立即加入租客！</h4>
      </div>
      <div class="col m6 s12">
        <div style="margin: 36px 0 12px 0;">
          <h5>正在找房子？</h5>
          <p>360度全景畫面，快來體驗！</p>
          <%= link_to "立即看屋", '#', :class=>'btn btn--extralarge' %>
        </div>
      </div>
      <div class="col m6 s12">
        <div style="margin: 36px 0 12px 0;">
          <h5>需要刊登房子？</h5>
          <p>Zuker 免費到府刊登，20 分鐘輕鬆完成！</p>
          <%= link_to "預約刊登", '#', :class=>'btn btn--extralarge' %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<script type="text/javascript">

  var current_page = 1;
  var state = 'active';

  $(document).on('click', '.controll-btn', function(){
    if(state == 'active'){
      if($(this).hasClass('up')){
        if(current_page == 1){
          return false;
        }
        scrollPageFunc(current_page - 1, 'goup');
      }
      if($(this).hasClass('down')){
        if(current_page == 7){
          return false;
        }
        scrollPageFunc(current_page + 1, 'godown');
      }
    }else{
      console('disabled state');
    }
  })


  $(document).on('click', '.dot', function(){
    var page_num = $(this).attr('page-order');
    scrollPageFunc(page_num);
    current_page = parseInt(page_num);
    console.log(page_num);
  })


  $(document).on('scroll', function(){


    var window_width = $(window).width();

    if(window_width < 600){

      var offet_1 = $('.scroll-page.intro-1').offset().top;
      var offet_2 = $('.scroll-page.intro-2').offset().top;
      var offet_3 = $('.scroll-page.intro-3').offset().top;
      var offet_4 = $('.scroll-page.intro-4').offset().top;
      var offet_5 = $('.scroll-page.intro-5').offset().top;

      var current_offset = $(window).scrollTop();

      if(current_offset > offet_1 - 300){
        $('.info.intro-1').addClass('active');
        $('.box-image.intro-1').addClass('active');
      }

      if(current_offset > offet_2 - 300){
        $('.info.intro-2').addClass('active');
        $('.box-image.intro-2').addClass('active');
      }

      if(current_offset > offet_3 - 300){
        $('.info.intro-3').addClass('active');
        $('.box-image.intro-3').addClass('active');

      }

      if(current_offset > offet_4 - 300){
        $('.info.intro-4').addClass('active');
        $('.box-image.intro-4').addClass('active');

      }

      if(current_offset > offet_5 - 300){
        $('.info.intro-5').addClass('active');
        $('.box-image.intro-5').addClass('active');

      }

    }

  })



  function scrollPageFunc(page_num, dir){
    var page_num = page_num;
    var dir = dir;

    if(page_num > 7 || page_num < 1){
      return false;
    }

    if(dir == 'goup'){
      current_page = current_page - 1;
    }

    if(dir == 'godown'){
      current_page = current_page + 1;
    }


    state = 'disabled';
    $('.dot[page-order="' + page_num + '"]').addClass('active');
    $('.dot[page-order="' + page_num + '"]').siblings('.dot').removeClass('active');
    for(i=1 ; i<=7; i++){
      var translateValue = (i - page_num)*(100);
      console.log(translateValue);
      $('.scroll-page[page-order="' + i +'"]').css({
        'top': translateValue + '%',
      })
    }

    if (2<= page_num && page_num <= 6) {
      var j = page_num - 1;
      $('.info.intro-' + j).addClass('active');
      $('.box-image.intro-' + j).addClass('active');
    };

    setTimeout(restTranslateState, 2000);
  }

  function restTranslateState(){
    state = 'active';
    console.log('reset');
  }



  $(window).bind('mousewheel', function(event) {
    var window_width = $(window).width();

    if(window_width > 600){

      if (event.originalEvent.wheelDelta >= 0) {
        if(state == 'active'){
          if(current_page == 1){
            return false;
          }
          scrollPageFunc(current_page - 1, 'goup');
        }
      }
      else{
        if(state == 'active'){
          if(current_page == 7){
            return false;
          }
          scrollPageFunc(current_page + 1, 'godown');
        }
      }

    }
  });


</script>
