<style type="text/css">
	footer{
		display: none;
	}
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	var myCenter=new google.maps.LatLng(51.508742,-0.120850);

	function initialize()
	{
	var mapProp = {
	  center:myCenter,
	  zoom:5,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };

	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	var marker=new google.maps.Marker({
	  position:myCenter,
	  });

	marker.setMap(map);

	var infowindow = new google.maps.InfoWindow({
	  content:"Hello World!"
	  });

	infowindow.open(map,marker);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="container-fluid">
	<div class="row margin-bottom-none">
		<div class="col m8 s12" id="search-container">
			<div class="search-field">
				<div class="search-block">
			    <form class="col s12">
			      <div class="row">
			      	<label>希望在哪間學校附近？</label>
						  <select class="browser-default">
						    <option value="" disabled selected>Choose your option</option>
						    <option value="1">Option 1</option>
						    <option value="2">Option 2</option>
						    <option value="3">Option 3</option>
						  </select>
			      </div>
			      <div class="hr"></div>
			      <div class="row">
			      	<div class="inline-select">
			      		<label>希望在哪間學校附近？</label><br>
							  <select class="browser-default">
							    <option value="" disabled selected>Choose your option</option>
							    <option value="1">Option 1</option>
							    <option value="2">Option 2</option>
							    <option value="3">Option 3</option>
							  </select>
							  <select class="browser-default">
							    <option value="" disabled selected>Choose your option</option>
							    <option value="1">Option 1</option>
							    <option value="2">Option 2</option>
							    <option value="3">Option 3</option>
							  </select>
							  <select class="browser-default">
							    <option value="" disabled selected>Choose your option</option>
							    <option value="1">Option 1</option>
							    <option value="2">Option 2</option>
							    <option value="3">Option 3</option>
							  </select>
								<div class="input-field">
									<p>多重選項</p>
							    <select multiple>
							      <option value="" disabled selected>Choose your option</option>
							      <option value="1">Option 1</option>
							      <option value="2">Option 2</option>
							      <option value="3">Option 3</option>
							    </select>
							  </div>
			      	</div>
			      </div>
			      <div class="advanced-search" id="advanced-search" style="display: none;">
				      <div class="hr"></div>
			      	<div class="row">
			      		<div class="col m6 s12" style="padding: 0;">
					        <div class="input-field">
					          <p>房屋標題</p>
					          <input id="last_name" type="text">
					        </div>
			      		</div>
			      	</div>
			      	<div class="hr"></div>
			      	<div class="row">
			      		<div class="col m6 s12">
									<label>
										需要設施
									</label>
									<div class="equipments-select">
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
								      <label for="filled-in-box1">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
								      <label for="filled-in-box2">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box3" checked="checked" />
								      <label for="filled-in-box3">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box4" checked="checked" />
								      <label for="filled-in-box4">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box5" checked="checked" />
								      <label for="filled-in-box5">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box6" checked="checked" />
								      <label for="filled-in-box6">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box7" checked="checked" />
								      <label for="filled-in-box7">Filled in</label>
								    </p>
									</div>
			      		</div>
			      		<div class="col m6 s12">
									<label>
										需要家具
									</label>
									<div class="equipments-select">
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box8" checked="checked" />
								      <label for="filled-in-box8">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box9" checked="checked" />
								      <label for="filled-in-box9">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box10" checked="checked" />
								      <label for="filled-in-box10">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box11" checked="checked" />
								      <label for="filled-in-box11">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box12" checked="checked" />
								      <label for="filled-in-box12">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box13" checked="checked" />
								      <label for="filled-in-box13">Filled in</label>
								    </p>
								    <p>
								      <input type="checkbox" class="filled-in" id="filled-in-box14" checked="checked" />
								      <label for="filled-in-box14">Filled in</label>
								    </p>
									</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="search-submit-bar">
			      	<a class="btn-outline" id="open-advnaced-search">更多篩選選項</a>
			      	<button href="#" class="btn float-right"><i class="material-icons text-icon">search</i>搜尋</button>
			      </div>
		      </form>
		      <div class="clear-both"></div>
				</div>
				<div class="search-result">
					<div class="col s12">
						<div class="search-result-display-trigger-bar">
							<a href="#" class="search-result-display-trigger active"><i class="material-icons">view_module</i></a>
							<a href="#" class="search-result-display-trigger"><i class="material-icons">view_list</i></a>
						</div>
					</div>
					<div class="col m12 s12">

						<div class="house-item list-view">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/1.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>
							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
							<div class="clear-both"></div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/1.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>
							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/2.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/5.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/3.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/4.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/1.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col m6 s12">
						<div class="house-item">
							<a class="favorite-btn">
								<i class="material-icons">favorite_border</i>
							</a>
							<a class="house-img" href="<%= house_path %>">
								<%= image_tag('house/3.jpg') %>
								<div class="price">
									NT$ 8000 - 9600 / 月
								</div>
							</a>

							<div class="house-info">
								<h5>再興風潮</h5>
								<span class="house-info-icon"><%= image_tag('icons/bed.png') %></span>2
								<span class="house-info-icon"><%= image_tag('icons/sofa.png') %></span>1
								<span class="house-info-icon"><%= image_tag('icons/shower.png') %></span>1<br>
								整層住家 | 樓層 2/5 <br>
								新北市新莊區福營路54號
							</div>
						</div>
					</div>
					<div class="col s12">
						<div class="pagination-container">
							<ul class="pagination">
						    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
						    <li class="active"><a href="#!">1</a></li>
						    <li class="waves-effect"><a href="#!">2</a></li>
						    <li class="waves-effect"><a href="#!">3</a></li>
						    <li class="waves-effect"><a href="#!">4</a></li>
						    <li class="waves-effect"><a href="#!">5</a></li>
						    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
						  </ul>
						</div>
					</div>
					<div class="clear-both"></div>
				</div>
			</div>
		</div>
		<div class="col m4 s12" id="map-container">
			<div class="map-field">
				<div id="googleMap" style="width:100%;height:100%; position: absolute"></div>
				<div class="map-field-trigger"><i class="material-icons">keyboard_arrow_right</i></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#open-advnaced-search').click(function(){
		$('#advanced-search').slideToggle(500);
		console.log('hi');
	})

	$('.map-field-trigger').click(function(){
		$('#map-container').toggleClass('map-close');
		$('#search-container').toggleClass('map-close');
		$(this).children('.material-icons').html('keyboard_arrow_left');
	})
	$(document).ready(function(){
		$('select').material_select();
	})

	$(document).click(function() {
    $(".dropdown-content.select-dropdown.multiple-select-dropdown").removeClass('active').css({ display: 'none' });
    $(".dropdown-content.select-dropdown.multiple-select-dropdown").siblings('.select-dropdown').removeClass('active');
	});
	$(".dropdown-content.select-dropdown.multiple-select-dropdown").click(function(e) {
	    e.stopPropagation(); // This is the preferred method.
	    return false;        // This should not be used unless you do not want
	                         // any click events registering inside the div
	});
</script>
